{% load static %}
<section>
    <div class="container">
        <footer class="row mt-3">
            <div class="col-md-2">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img src="{% static 'img/logofooter.png' %}" alt="logo">
                </a>
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-4">
                <h5>Kontak</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-globe2"></i>
                            Dinas Kelautan dan Perikanan Provinsi Banten</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i
                                class="bi bi-house-door-fill"></i> R5H6+8GV, Sukajaya, Kec. Serang, Kota Serang,
                            Banten 42171</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i
                                class="bi bi-telephone-fill"></i> (0254) 267024</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i
                                class="bi bi-envelope-fill"></i> dkp@bantenprov.go.id</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.77818942848!2d106.1612873!3d-6.1716373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdda6f9a047226581!2sDinas%20Kelautan%20Dan%20Perikanan%20Provinsi%20Banten!5e0!3m2!1sid!2sid!4v1634401180136!5m2!1sid!2sid"
                    width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <p>Created with <i class="bi bi-heart-fill text-danger"></i> by Ruly Adhitya</p>
        </footer>
    </div>
</section>